<link href='https://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

<div class= "cover_image">
    <div class = "overlay"></div>


    <div class ="centered_title">
        Uber for Segways
    </div>
    <div class ="centered_subtitle">
        Segways were not designed for two. Until now.
    </div>

    <div class="go_to_map">
        <%= button_to( "Find me a Segway NOW.", {:action => "go_to_map", :method => "get"}, {:class => 'btn btn-lg btn-primary'}) %>
    </div>
</div>


<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/map32.png" >
            <div class="caption">
                <h3>Our team specializes in artisanal maps.</h3>
                <p> The segway combines the safety of a motorcycle with the sex appeal of a smartcar. Our segway drivers come directly to you
                and you simply climb aboard their backs and zoom to your destination at 5 - 7 mph. </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/transport93.png" >
            <div class="caption">
                <h3>Segways aren't build for two, but that won't stop us.</h3>
                <p> It's time to <span style="font-size:30px;"><b>DISRUPT</b></span> transportation. Piggyback rides
                were reported as "The most underrated form of transporation in 2016". We're here to change that.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="assets/wine65.png" >
            <div class="caption">
                <h3>It's what you've always been waiting for.</h3>
                <p> Pop open some champagne. The future is now. </p>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail thumbnail_special">
            <img src="assets/piggyback.jpg" >

            <div class="caption">
                <h3>Wow.</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail thumbnail_special">
            <img src="assets/piggyhover.jpg" >

            <div class="caption">
                <h3>Amazing.</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail thumbnail_special">
            <img src="assets/piggyback2.jpg" >

            <div class="caption">
                <h3>Brilliant.</h3>
            </div>
        </div>
    </div>
</div>

<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>